<div class="container">

  <h3 class="coinNames">Privcy (PRIV) Direct Faucets</h3>
  <table class="table table-striped table-dark table-bordered table-hover rounded">
    <thead class="text-center">
    <tr>
      <th scope="col">Faucet status</th>
      <th scope="col">Faucet name</th>
      <th scope="col">Faucet timer</th>
      <th scope="col">Faucet referral</th>
      <th scope="col">Minimum withdrawal</th>
      <th scope="col">Withdrawal fee</th>
      <th scope="col">Faucet link</th>
    </tr>
    </thead>
    <tbody class="text-center">
    <tr>

      <td scope="row" class="bg-success">Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>@mdo</td>
      <td>@mdo</td>
      <td>@mdo</td>
      <td><a class="btn btn-success hover-effect py-1" href="#" target="_blank" rel="nofollow noopener">Claim</a></td>
    </tr>
    <tr>
      <td scope="row" class="bg-warning">Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
      <td>@fat</td>
      <td>@fat</td>
      <td>@fat</td>
      <td>@fat</td>
    </tr>
    <tr>

      <td scope="row" class="bg-success">Larry the Bird</td>
      <td>@twitter</td>
      <td>@twitter</td>
      <td>@twitter</td>
      <td>@twitter</td>
      <td>@twitter</td>
      <td>@twitter</td>
    </tr>
    </tbody>
  </table>
</div>

<!--<div class="container " style="margin-bottom: 70px; justify-content: center;display: flex;">-->
<!--  <div-->
<!--    style="width: 220px; height:220px; background-color: #FFFFFF; overflow:hidden; box-sizing: border-box; border: 1px solid #56667F; border-radius: 4px; text-align: right; line-height:14px; block-size:220px; font-size: 12px; font-feature-settings: normal; text-size-adjust: 100%; box-shadow: inset 0 -20px 0 0 #56667F;padding:1px;padding: 0px; margin: 0px;">-->
<!--    <div style="height:200px; padding:0px; margin:0px; width: 100%;">-->
<!--      <iframe src="https://widget.coinlib.io/widget?type=single_v2&theme=light&coin_id=1184&pref_coin_id=1506"-->
<!--              width="220" height="196px" scrolling="auto" marginwidth="0" marginheight="0" frameborder="0" border="0"-->
<!--              style="border:0;margin:0;padding:0;line-height:14px;"></iframe>-->
<!--    </div>-->
<!--    <div-->
<!--      style="color: #FFFFFF; line-height: 14px; font-weight: 400; font-size: 11px; box-sizing: border-box; padding: 2px 6px; width: 100%; font-family: Verdana, Tahoma, Arial, sans-serif;">-->
<!--      <a href="https://coinlib.io" target="_blank"-->
<!--         style="font-weight: 500; color: #FFFFFF; text-decoration:none; font-size:11px">Cryptocurrency Prices</a>&nbsp;by-->
<!--      Coinlib-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

