<div class="text-center my-2">
  <a class="coinlinks" routerLink="/btc">
    <img class="img-thumbnail bg-dark border-0 mb-1 coin-60 hover-effect" src="assets/img/coins/bitcoin.svg"
         alt="Bitcoin (BTC)">
    <div class="overlay">
      <div class="text">BTC</div>
    </div>
  </a>
  <a class="coinlinks" routerLink="/zrx"><img
    class="img-thumbnail bg-dark border-0 mb-1 coin-60 hover-effect" src="assets/img/coins/0x-white.svg"
    alt="0x (ZRX)">
    <div class="overlay">
      <div class="text">ZRX</div>
    </div>
  </a>
  <a class="coinlinks" routerLink="/asafe"><img class="img-thumbnail bg-dark border-0 mb-1 coin-60 hover-effect"
                                                src="assets/img/coins/allsafe.png" alt="AllSafe (ASAFE)">
    <div class="overlay">
      <div class="text">ASAFE</div>
    </div>
  </a>
  <a class="coinlinks" routerLink="/abet"><img class="img-thumbnail bg-dark border-0 mb-1 coin-60 hover-effect"
                                               src="assets/img/coins/altbet.png" alt="Altbet (ABET)">
    <div class="overlay">
      <div class="text">ABET</div>
    </div>
  </a>
  <a class="coinlinks" routerLink="/bat"><img
    class="img-thumbnail bg-dark border-0 mb-1 coin-60 hover-effect" src="assets/img/coins/basic-attention-token.svg"
    alt="Basic Attention Token (BAT)">
    <div class="overlay">
      <div class="text">BAT</div>
    </div>
  </a>
  <a class="coinlinks" routerLink="/bnb"><img class="img-thumbnail bg-dark border-0 mb-1 coin-60 hover-effect"
                                              src="assets/img/coins/binance-coin.svg"
                                              alt="Binance Coin (BNB)">
    <div class="overlay">
      <div class="text">BNB</div>
    </div>
  </a>
  <a class="coinlinks" routerLink="/bch"><img class="img-thumbnail bg-dark border-0 mb-1 coin-60 hover-effect"
                                              src="assets/img/coins/bitcoin-cash.svg"
                                              alt="Bitcoin Cash (BCH)">
    <div class="overlay">
      <div class="text">BCH</div>
    </div>
  </a>
  <a class="coinlinks" routerLink="/bsv"><img class="img-thumbnail bg-dark border-0 mb-1 coin-60 hover-effect"
                                              src="assets/img/coins/bitcoin-sv.svg" alt="Bitcoin SV (BSV)">
    <div class="overlay">
      <div class="text">BSV</div>
    </div>
  </a>
  <a class="coinlinks" routerLink="/btt"><img class="img-thumbnail bg-dark border-0 mb-1 coin-60 hover-effect"
                                              src="assets/img/coins/bittorrent-white.svg"
                                              alt="BitTorrent (BTT)">
    <div class="overlay">
      <div class="text">BTT</div>
    </div>
  </a>
  <a class="coinlinks" routerLink="/block"><img class="img-thumbnail bg-dark border-0 mb-1 coin-60 hover-effect"
                                                src="assets/img/coins/blocknet-white.svg" alt="Blocknet (BLOCK)">
    <div class="overlay">
      <div class="text">BLOCK</div>
    </div>
  </a>
  <a class="coinlinks" routerLink="/ada"><img class="img-thumbnail bg-dark border-0 mb-1 coin-60 hover-effect"
                                              src="assets/img/coins/cardano.svg" alt="Cardano (ADA)">
    <div class="overlay">
      <div class="text">ADA</div>
    </div>
  </a>
  <a class="coinlinks" routerLink="/link"><img class="img-thumbnail bg-dark border-0 mb-1 coin-60 hover-effect"
                                               src="assets/img/coins/chainlink.svg" alt="Chainlink (LINK)">
    <div class="overlay">
      <div class="text">LINK</div>
    </div>
  </a>
  <a class="coinlinks" routerLink="/ctsc"><img
    class="img-thumbnail bg-dark border-0 mb-1 coin-60 hover-effect"
    src="assets/img/coins/crypto-trading-solutions.png" alt="Crypto Trading Solutions (CTSC)">
    <div class="overlay">
      <div class="text">CTSC</div>
    </div>
  </a>
  <a class="coinlinks" routerLink="/dash"><img class="img-thumbnail bg-dark border-0 mb-1 coin-60 hover-effect"
                                               src="assets/img/coins/dash.svg" alt="Dash (DASH)">
    <div class="overlay">
      <div class="text">DASH</div>
    </div>
  </a>
  <a class="coinlinks" routerLink="/dgb"><img class="img-thumbnail bg-dark border-0 mb-1 coin-60 hover-effect"
                                              src="assets/img/coins/digibyte.svg" alt="DigiByte (DGB)">
    <div class="overlay">
      <div class="text">DGB</div>
    </div>
  </a>
  <a class="coinlinks" routerLink="/doge"><img class="img-thumbnail bg-dark border-0 mb-1 coin-60 hover-effect"
                                               src="assets/img/coins/dogecoin.svg" alt="Dogecoin (DOGE)">
    <div class="overlay">
      <div class="text">DOGE</div>
    </div>
  </a>
  <a class="coinlinks" routerLink="/etn"><img class="img-thumbnail bg-dark border-0 mb-1 coin-60 hover-effect"
                                              src="assets/img/coins/electroneum.svg" alt="Electroneum (ETN)">
    <div class="overlay">
      <div class="text">ETN</div>
    </div>
  </a>
  <a class="coinlinks" routerLink="/eos"><img
    class="img-thumbnail bg-dark border-0 mb-1 coin-60 hover-effect" src="assets/img/coins/eos-white.svg"
    alt="EOS (EOS)">
    <div class="overlay">
      <div class="text">EOS</div>
    </div>
  </a>
  <a class="coinlinks" routerLink="/esbc"><img class="img-thumbnail bg-dark border-0 mb-1 coin-60 hover-effect"
                                               src="assets/img/coins/esbc.svg" alt="ESBC (ESBC)">
    <div class="overlay">
      <div class="text">ESBC</div>
    </div>
  </a>
  <a class="coinlinks" routerLink="/eth"><img class="img-thumbnail bg-dark border-0 mb-1 coin-60 hover-effect"
                                              src="assets/img/coins/ethereum.svg" alt="Ethereum (ETH)">
    <div class="overlay">
      <div class="text">ETH</div>
    </div>
  </a>
  <a class="coinlinks" routerLink="/etc"><img class="img-thumbnail bg-dark border-0 mb-1 coin-60 hover-effect"
                                              src="assets/img/coins/ethereum-classic.svg"
                                              alt="Ethereum Classic (ETC)">
    <div class="overlay">
      <div class="text">ETC</div>
    </div>
  </a>
  <a class="coinlinks" routerLink="/xp"><img class="img-thumbnail bg-dark border-0 mb-1 coin-60 hover-effect"
                                             src="assets/img/coins/experience-points-white.svg"
                                             alt="Experience Points (XP)">
    <div class="overlay">
      <div class="text">XP</div>
    </div>
  </a>
  <a class="coinlinks" routerLink="/grc"><img class="img-thumbnail bg-dark border-0 mb-1 coin-60 hover-effect"
                                              src="assets/img/coins/gridcoin.svg" alt="Gridcoin (GRC)">
    <div class="overlay">
      <div class="text">GRC</div>
    </div>
  </a>
  <a class="coinlinks" routerLink="/zen"><img class="img-thumbnail bg-dark border-0 mb-1 coin-60 hover-effect"
                                              src="assets/img/coins/horizen-white.svg" alt="Horizen (ZEN)">
    <div class="overlay">
      <div class="text">ZEN</div>
    </div>
  </a>
  <a class="coinlinks" routerLink="/kydc">
    <img class="img-thumbnail bg-dark border-0 mb-1 coin-60 hover-effect" src="assets/img/coins/know-your-developer.png"
         alt="Know Your Developer (KYDC)">
    <div class="overlay">
      <div class="text">KYDC</div>
    </div>
  </a>
  <a class="coinlinks" routerLink="/kmd"><img class="img-thumbnail bg-dark border-0 mb-1 coin-60 hover-effect"
                                              src="assets/img/coins/komodo.svg" alt="Komodo (KMD)">
    <div class="overlay">
      <div class="text">KMD</div>
    </div>
  </a>
  <a class="coinlinks" routerLink="/ltc"><img class="img-thumbnail bg-dark border-0 mb-1 coin-60 hover-effect"
                                              src="assets/img/coins/litecoin.svg" alt="Litecoin (LTC)">
    <div class="overlay">
      <div class="text">LTC</div>
    </div>
  </a>
  <a class="coinlinks" routerLink="/mmo"><img class="img-thumbnail bg-dark border-0 mb-1 coin-60 hover-effect"
                                              src="assets/img/coins/mmocoin.png" alt="MMOCoin (MMO)">
    <div class="overlay">
      <div class="text">MMO</div>
    </div>
  </a>
  <a class="coinlinks" routerLink="/xmr"><img class="img-thumbnail bg-dark border-0 mb-1 coin-60 hover-effect"
                                              src="assets/img/coins/monero.svg" alt="Monero (XMR)">
    <div class="overlay">
      <div class="text">XMR</div>
    </div>
  </a>
  <a class="coinlinks" routerLink="/nano"><img class="img-thumbnail bg-dark border-0 mb-1 coin-60 hover-effect"
                                               src="assets/img/coins/nano.svg" alt="Nano (NANO)">
    <div class="overlay">
      <div class="text">NANO</div>
    </div>
  </a>
  <a class="coinlinks" routerLink="/xem"><img
    class="img-thumbnail bg-dark border-0 mb-1 coin-60 hover-effect" src="assets/img/coins/nem-white.svg"
    alt="Nem (XEM)">
    <div class="overlay">
      <div class="text">XEM</div>
    </div>
  </a>
  <a class="coinlinks" routerLink="/neo"><img
    class="img-thumbnail bg-dark border-0 mb-1 coin-60 hover-effect" src="assets/img/coins/neo.svg"
    alt="Neo (NEO)">
    <div class="overlay">
      <div class="text">NEO</div>
    </div>
  </a>
  <a class="coinlinks" routerLink="/pirate"><img class="img-thumbnail bg-dark border-0 mb-1 coin-60 hover-effect"
                                                 src="assets/img/coins/piratecash.png"
                                                 alt="PirateCash (PIRATE)">
    <div class="overlay">
      <div class="text">PIRATE</div>
    </div>
  </a>
  <a class="coinlinks" routerLink="/pivx"><img class="img-thumbnail bg-dark border-0 mb-1 coin-60 hover-effect"
                                               src="assets/img/coins/pivx.svg" alt="Pivx (PIVX)">
    <div class="overlay">
      <div class="text">PIVX</div>
    </div>
  </a>
  <a class="coinlinks" routerLink="/priv"><img class="img-thumbnail bg-dark border-0 mb-1 coin-60 hover-effect"
                                               src="assets/img/coins/privcy.png" alt="Privcy (PRIV)">
    <div class="overlay">
      <div class="text">PRIV</div>
    </div>
  </a>
  <a class="coinlinks" routerLink="/npsx"><img class="img-thumbnail bg-dark border-0 mb-1 coin-60 hover-effect"
                                               src="assets/img/coins/pundi-x.svg" alt="Pundi X (NPSX)">
    <div class="overlay">
      <div class="text">NPSX</div>
    </div>
  </a>
  <a class="coinlinks" routerLink="/rvn"><img class="img-thumbnail bg-dark border-0 mb-1 coin-60 hover-effect"
                                              src="assets/img/coins/ravencoin.svg" alt="Ravencoin (RVN)">
    <div class="overlay">
      <div class="text">RVN</div>
    </div>
  </a>
  <a class="coinlinks" routerLink="/rdd"><img class="img-thumbnail bg-dark border-0 mb-1 coin-60 hover-effect"
                                              src="assets/img/coins/reddcoin.svg" alt="Reddcoin (RDD)">
    <div class="overlay">
      <div class="text">RDD</div>
    </div>
  </a>
  <a class="coinlinks" routerLink="/scc"><img class="img-thumbnail bg-dark border-0 mb-1 coin-60 hover-effect"
                                              src="assets/img/coins/stakecubecoin.svg"
                                              alt="StakeCubeCoin (SCC)">
    <div class="overlay">
      <div class="text">SCC</div>
    </div>
  </a>
  <a class="coinlinks" routerLink="/xlm"><img class="img-thumbnail bg-dark border-0 mb-1 coin-60 hover-effect"
                                              src="assets/img/coins/stellar-white.svg" alt="Stellar (XLM)">
    <div class="overlay">
      <div class="text">XLM</div>
    </div>
  </a>
  <a class="coinlinks" routerLink="/sys"><img class="img-thumbnail bg-dark border-0 mb-1 coin-60 hover-effect"
                                              src="assets/img/coins/syscoin.svg" alt="Syscoin (SYS)">
    <div class="overlay">
      <div class="text">SYS</div>
    </div>
  </a>
  <a class="coinlinks" routerLink="/usdt"><img class="img-thumbnail bg-dark border-0 mb-1 coin-60 hover-effect"
                                               src="assets/img/coins/tether.svg" alt="Tether (USDT)">
    <div class="overlay">
      <div class="text">USDT</div>
    </div>
  </a>
  <a class="coinlinks" routerLink="/xtz"><img class="img-thumbnail bg-dark border-0 mb-1 coin-60 hover-effect"
                                              src="assets/img/coins/tezos.svg" alt="Tezos (XTZ)">
    <div class="overlay">
      <div class="text">XTZ</div>
    </div>
  </a>
  <a class="coinlinks" routerLink="/trx"><img class="img-thumbnail bg-dark border-0 mb-1 coin-60 hover-effect"
                                              src="assets/img/coins/tron.svg" alt="Tron (TRX)">
    <div class="overlay">
      <div class="text">TRX</div>
    </div>
  </a>
  <a class="coinlinks" routerLink="/trbo"><img class="img-thumbnail bg-dark border-0 mb-1 coin-60 hover-effect"
                                               src="assets/img/coins/turbostake.png" alt="TurboStake (TRBO)">
    <div class="overlay">
      <div class="text">TRBO</div>
    </div>
  </a>
  <a class="coinlinks" routerLink="/usdc"><img class="img-thumbnail bg-dark border-0 mb-1 coin-60 hover-effect"
                                               src="assets/img/coins/usd-coin.svg" alt="USD Coin (USDC)">
    <div class="overlay">
      <div class="text">USDC</div>
    </div>
  </a>
  <a class="coinlinks" routerLink="/xvg"><img class="img-thumbnail bg-dark border-0 mb-1 coin-60 hover-effect"
                                              src="assets/img/coins/verge.svg" alt="Verge (XVG)">
    <div class="overlay">
      <div class="text">XVG</div>
    </div>
  </a>
  <a class="coinlinks" routerLink="/vsx"><img class="img-thumbnail bg-dark border-0 mb-1 coin-60 hover-effect"
                                              src="assets/img/coins/vsync.png" alt="Vsync (VSX)">
    <div class="overlay">
      <div class="text">VSX</div>
    </div>
  </a>
  <a class="coinlinks" routerLink="/xrp"><img
    class="img-thumbnail bg-dark border-0 mb-1 coin-60 hover-effect" src="assets/img/coins/xrp-white.svg"
    alt="XRP (XRP)">
    <div class="overlay">
      <div class="text">XRP</div>
    </div>
  </a>
  <a class="coinlinks" routerLink="/zec">
    <img class="img-thumbnail bg-dark border-0 mb-1 coin-60 hover-effect" src="assets/img/coins/zcash.svg"
         alt="Zcash (ZEC)">
    <div class="overlay">
      <div class="text">ZEC</div>
    </div>
  </a>
</div>

