<div class="container">

  <h3 class="coinNames">XRP (XRP) Direct Faucets</h3>
  <table class="table table-striped table-dark table-bordered table-hover rounded">
    <thead class="text-center">
    <tr>
      <th scope="col">Faucet status</th>
      <th scope="col">Faucet name</th>
      <th scope="col">Faucet timer</th>
      <th scope="col">Faucet referral</th>
      <th scope="col">Minimum withdrawal</th>
      <th scope="col">Withdrawal fee</th>
      <th scope="col">Faucet link</th>
    </tr>
    </thead>
    <tbody class="text-center">
    <tr>

      <td scope="row" class="bg-success">Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>@mdo</td>
      <td>@mdo</td>
      <td>@mdo</td>
      <td><a class="btn btn-success hover-effect py-1" href="#" target="_blank" rel="nofollow noopener">Claim</a></td>
    </tr>
    <tr>
      <td scope="row" class="bg-warning">Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
      <td>@fat</td>
      <td>@fat</td>
      <td>@fat</td>
      <td>@fat</td>
    </tr>
    <tr>

      <td scope="row" class="bg-success">Larry the Bird</td>
      <td>@twitter</td>
      <td>@twitter</td>
      <td>@twitter</td>
      <td>@twitter</td>
      <td>@twitter</td>
      <td>@twitter</td>
    </tr>
    </tbody>
  </table>
</div>


<div class="container " style="margin-bottom: 70px; justify-content: center;display: flex;">
  <div class="widget-frame">
    <iframe class="widget-body"
            src="https://widget.coinlib.io/widget?type=single_v2&theme=light&coin_id=619&pref_coin_id=1506">
    </iframe>
    <div class="widget-footer">
      <a href="https://coinlib.io" target="_blank">Cryptocurrency Prices</a>&nbsp;by Coinlib
    </div>
  </div>
</div>

