.coinNames {
  color: darkgreen;
  text-align: center;
  font-weight: bold;
}

.widget-frame {
  width: 220px;
  height: 220px;
  background-color: #FFFFFF;
  overflow: hidden;
  box-sizing: border-box;
  border: 1px solid #56667F;
  border-radius: 4px;
  text-align: right;
  line-height: 14px;
  block-size: 220px;
  font-size: 12px;
  font-feature-settings: normal;
  text-size-adjust: 100%;
  box-shadow: inset 0 -20px 0 0 #56667F;
  padding: 1px;
  padding: 0px;
  margin: 0px;
}

.widget-body {
  border: 0;
  margin: 0;
  padding: 0;
  line-height: 14px;
  width: 220px;
  height: 196px;
  scrolling: auto;
  marginwidth: 0;
  marginheight: 0;
  frameborder: 0;
  border: 0;
}

.widget-footer {
  color: #FFFFFF;
  line-height: 14px;
  font-weight: 400;
  font-size: 11px;
  box-sizing: border-box;
  padding: 2px 6px;
  width: 100%;
  font-family: Verdana, Tahoma, Arial, sans-serif;
}

.widget-footer,a{
  font-weight: 500;
  color: #FFFFFF;
  text-decoration:none;
  font-size:11px;
}
